.topContainer {
  width: 100%;
  min-height: calc(100vh - (110vw/-12));
}

.topContainer:not(:last-child) *{
    margin-top: calc(50vw/-12);
  }
  
  .topContainer:last-child {
    position: relative;
    transform: skew(0);
    margin-top: calc(100vw/-12);
    padding-top: calc(100vw/12);
    min-height: 100vh;
    z-index: -1;
  }


  .topContainer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  h1{
    font-family: sans-serif;
    color: $white;
  }

  